*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box ;
}



.jumbotron .h1, .jumbotron h1 {
    font-size: 63px;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #eee;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-default {
    background-color: #f8f8f8;
}
.navbar {
    position: relative;
    min-height: 50px;
}

.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;    
}

.col-md-3 {
    width: 25%;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-6 {
    width: 50%;
}
html, body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

.navbar-nav {
    display: inline-block !important;
   margin-left: 30px;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}





.jumbotron .container {
    max-width: 100%;
    text-align: center;
    position:relative;
    top: 28%
}

.jumbotron {
    background: no-repeat center right fixed url(/assets/images/slide-top.jpg);
    background-size: 100%;
    background-size: cover;
    height: 969px;
    margin-bottom: 0px;
    padding: 0px;
}

.nav-top{
    margin: 0 auto !important;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px !important;
    color: inherit;
    background-color: #eee;
}
#img {
    max-width: 100%;
    max-height: 100%;
}

html, body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

body {
    background: #F3EFE0;
    
    line-height: 1.64;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
    font-family: 'Almendra', sans-serif !important;
    margin-bottom: 20px;
    color: #4e4d4d;
}

h1, h4 {
    font-weight: 200;
    margin-bottom: 10px;
}


h2, h3 {
    font-weight: 200 !important;
        color: #4e4d4d;
}
#profile > p {
    font-size: 20px !important;
}

p{
    font-size: 20px !important;
}

.h2, h2 {
    font-size: 54px !important;
    text-align: center;
}

h3 {
    font-size: 33px !important;
   text-align: center;
}

p.lead {
    text-align: center;
    color: #727878;
}

    p.lead a {
        color: #FFFFFF;
        text-decoration: underline;
    }

        p.lead a:hover {
            text-decoration: none;
        }

ul.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
}

hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 1;
    
}

.project-referal {
    margin-top: 40px;
}

    .project-referal p {
        font-style: italic;
        color: #999999;
    }

.btn-primary {
    background-color: #22A39F;
    border-color: #1c8784;
}

    .btn-primary:hover {
        background-color: #1c8784;
        border-color: #1c8784;
    }

.icon {
    display: inline-block;
    background: url(images/sm_icon_sprite.png) no-repeat;
    height: 32px;
    width: 32px;
}

    .icon.icon-twitter {
        background-position: 0px 0px;
    }

    .icon.icon-linkedin {
        background-position: 0px -32px;
    }

    .icon.icon-skype {
        background-position: 0px -64px;
    }

    .icon.icon-email {
        background-position: 0px -96px;
    }


    .jumbotron .container {
        position: relative;
        top: 28%;
        z-index: 4;
        text-align: center;
    }

        .jumbotron .container > * {
            text-align: center;
            color: black;
        }

        .jumbotron .container h1 {
            padding-bottom: 20px;
            border-bottom: 1px solid #FFFFFF;
            border-bottom-color: rgba(255,255,255,0.35);
            display: inline-block;
            font-size: 60px;
        }

        .jumbotron .container .lead {
            font-size: 28px;
        }

    .jumbotron .scroll-down {
            font-size: 50px;
         color: darkgray;
        height: 80px;
        width: 110px;
        display: block;
        position: absolute;
        bottom: 0px;
        right: 5%;
        background-color: #222222;
        text-align: center;
        z-index: 6;
        border-radius : 24px;
        padding-top:8px;
    }

        .jumbotron .scroll-down .glyphicon {
            color: #FFFFFF;
            font-size: 30px;
            padding-right: 2px;
            padding-top: 20px;
            animation-name: wiggle;
            animation-duration: 1.2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: normal;
        }

        .jumbotron .scroll-down:hover .glyphicon {
            padding-top: 25px;
        }

.navbar {
    border: 0px;
    /*background-color: #222222;
    position: absolute;
    top: 100%;
    right: 5%;
    width: 110px;
    z-index: 999;*/
    margin-bottom: 0px !important;
}

    .navbar .nav > li {
        display: inline-block;
        padding-left: 0px !important;
        padding-right: 0px !important;
        height: 80px;
        margin: 0 auto !important;
        padding-top: 17px !important;
    }
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 30px;
    margin-left: 20px !important;
    margin-right: 20px !important;
    display:inline-block;
    text-decoration: none;
}

.navbar-default .navbar-nav > li:hover > a {
    color: black;
    background-color: #f5c7b6;
}
/*   
  

.nav .navbar{
display: inline-block;
}
.navbar-nav {
    margin: 0px;
}

.navbar .nav > li {
    display: block;
    float: none;
    height: 80px;
}

.navbar .nav > li a {
        display: block;
        height: 80px;
        text-align: center;
        padding-top: 30px;
        font-weight: 600;
        color: #FFFFFF;
 }

.navbar .nav > li a:hover, .navbar .nav > li a:focus {
            color: #999999;
        }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #22A39F;
    color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background: #222222;
}

.fixed .navbar {
    position: fixed;
    top: 60px;
}*/

.background-white {
    background: #FFFFFF;
}

.background-gray {
    background: #f3c0ae;
}
.container {
    max-width: 1280px;
    padding: 40px 180px;
}

#profile .row > div {
    margin-bottom: 20px;
}

    #profile .row > div img {
        width: 100%;
        max-width: 246px;
        height: auto;
    }

#experiences .experience {
    margin-bottom: 20px;
}
.box-experiences {
    background-color: #f5c7b6;
}

#experiences .experience p > strong {
    display: block;
    padding-top: 8px;
    margin-bottom: 10px;
}

    #experiences .experience .experience-details {
        display: block;
        margin-top: 6px;
    }

        #experiences .experience .experience-details * {
            color: #22A39F;
        }

        #experiences .experience .experience-details .seperator {
            color: #BCBCBC;
        }

#abilities ul > li {
    min-height: 30px;
    padding: 3px 0px;
}

    #abilities ul > li:hover {
        background: #F2F2F2;
    }

    #abilities ul > li .ability-title {
        display: inline-block;
        width: 60%;
    }

    #abilities ul > li .ability-score {
        float: right;
    }

        #abilities ul > li .ability-score .glyphicon {
            color: #DFE0E0;
            font-size: 14px;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

            #abilities ul > li .ability-score .glyphicon.filled {
                color: #22A39F;
            }

    #abilities ul > li:hover .ability-score .glyphicon {
        margin-left: 2px;
    }

#interests .left {
    float: left;
}

#interests .right {
    float: right;
}

#interests img {
    width: 80%;
    height: auto;
}

#interests .right img {
    float: right;
}

#interests .interest-content {
    padding: 40px 0px;
}

#interests .row:hover .left img {
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
}

#interests .row:hover .right img {
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
}

/* #projects .row { margin: 0px; } // bootstrap 3.1- hack */
#projects .row > div {
    margin-bottom: 30px;
}

#projects figure {
    position: relative;
    overflow: hidden;
}

    #projects figure h3 {
        color: #FFF;
        font-weight: 600;
        margin-bottom: 5px;
    }

    #projects figure p > strong {
        width: 60px;
        display: inline-block;
        margin: 0px;
    }

    #projects figure img {
        width: 110%;
    }

    #projects figure figcaption {
        padding: 20px 30px;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }

    #projects figure a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }

    #projects figure .icon {
        background: #22A39F;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 48px;
        height: 48px;
    }

        #projects figure .icon span {
            font-size: 18px;
            line-height: 18px;
            padding: 15px;
        }

#contact {
    padding-bottom: 20px;
    padding-top: 12px;
}

    #contact h2, #contact .row * {
        color: #636363;
    }
    #contact a {
        display: inline-block;
        line-height: 32px;
        opacity: 0.6;
        
    }

        #contact a .icon {
            float: left;
            margin-right: 20px;
        }

        #contact a:hover {
            opacity: 1;
            
            text-decoration: none;
        }

.opl {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 99999;
}

    .opl a {
        width: 73px;
        height: 56px;
        text-indent: -9999px;
        display: block;
        background: url('https://s3.amazonaws.com/onepagelove/one-page-love-award.png') no-repeat;
    }

@media (max-width: 1200px) {
    #interests .interest-content {
        padding: 20px 0px;
    }
}

@media (max-width: 767px) {
    .jumbotron:before {
        bottom: 100px;
        left: 20px;
        right: 20px;
        top: 20px;
    }

    .jumbotron .container {
        top: 20%;
        padding-top: 0px;
    }

    .jumbotron .scroll-down {
        width: 100%;
        right: 0px;
    }

    .navbar {
        left: 0px;
        width: 100%;
    }

        .navbar .nav > li {
            height: 60px;
        }

            .navbar .nav > li a {
                height: 60px;
                text-align: center;
                padding-top: 20px;
                font-weight: 600;
                    color: #666666;
}
            }

    .fixed .navbar {
        top: 0px;
    }

    .container {
        padding: 60px 20px;
        min-width: 280px;
    }

    .hidden-phone {
        display: none;
    }

    #profile .row * {
        text-align: center;
    }

    #experiences .experience .experience-details > span {
        display: block;
        margin-bottom: 6px;
    }

    #experiences .experience .experience-details .seperator {
        display: none;
    }

    #interests .left {
        float: none;
    }

    #interests .right {
        float: none;
    }

    #interests > * {
        text-align: center;
    }

    #interests img {
        width: 50%;
        height: auto;
        float: none !important;
    }

    #interests .interest-content {
        padding: 20px 0px;
    }

    #contact {
        padding-bottom: 60px;
    }

        #contact a .icon {
            float: left;
            margin-right: 10px;
        }
}

@media only screen and (orientation: portrait) and (max-width: 767px) {
    .jumbotron {
       
        background-attachment: scroll;
    }
}

@media only screen and (orientation: landscape) and (max-width: 767px) {

    .jumbotron {
       
        background-attachment: scroll;
    }

        .jumbotron .lead {
            display: none;
        }
}

@keyframes wiggle {
    0% {
        padding-top: 20px;
    }

    50% {
        padding-top: 28px;
    }

    100% {
        padding-top: 20px;
    }
}


/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
    background: #22A39F;
    color: #FFF;
}

    figure.effect img {
        
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    figure.effect:hover img {
        opacity: 0.2;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect figcaption {
        text-align: left;
    }

    figure.effect h3 {
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }

    figure.effect:hover h3 {
        opacity: 1;
    }

    figure.effect h3::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        content: '';
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }

    figure.effect:hover h3::after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    figure.effect p {
        padding-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }

    figure.effect:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

#list-contact li {
    display: inline-block !important;
    margin-left: 20px;
    margin-right:19px;
    
}





